/* Raisin Black #2E282A */
/* Isabeline #F4F3EE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/* font-family: 'Yanone Kaffeesatz', sans-serif; */

html {
    background-color: #2e282a;
    color: #f4f3ee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
}

.about {
    display: flex;
}

.photo {
    width: 400px;
}

.info {
    margin-left: 20px;
}
